<% content_for :myhead do %>
    <link rel="stylesheet" media="all" href="/assets/my_partial_view_css.css" />
    <script src="/assets/my_partial_view_js.js" />
<% end %>
<p id="my_partial_view_id_0001" class="my_partial_view_class_0001">This is my partial view.</p>
